---
import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

import SocialView from '../components/SocialView.vue'
---

<Layout>
	<main class="h-screen flex flex-col justify-between gap-0">
		<!-- Application Header -->
		<Header client:load />

		<section class="w-full lg:max-w-5xl mx-auto p-3 sm:p-8 flex-1 flex-col overflow-y-scroll overflow-x-hidden">

			<!-- Social Details -->
			<SocialView client:load />

		</section>

		<!-- Application Footer -->
		<Footer client:load />
	</main>
</Layout>

<script>
console.log('PaynBits FEED is starting up...')

/* Import module.s */
import { sdk } from '@farcaster/miniapp-sdk'

/* Prepare UI for interactions. */
await sdk.actions.ready()

console.log('PaynBits FEED has been initialized!')
</script>
