---
import Layout from '../layouts/Layout.astro'

import IconSvg from '../img/icon.svg'
---

<Layout>
	<section class="w-5xl mx-auto p-16 flex flex-col items-center justify-center gap-4">

		<img src={IconSvg.src} class="size-20" />

		<h1 class="text-6xl font-light italic text-sky-500 tracking-wide">
			PaynBits
		</h1>

		<h3 class="text-slate-500 italic">
			brought to you by 0xShomari
		</h3>

	</section>
</Layout>
