---
import Layout from '../layouts/Layout.astro'

import IconSvg from '../img/icon.svg'
---

<Layout>
	<section class="w-full lg:max-w-5xl mx-auto p-3 sm:p-16 flex flex-col items-center justify-center gap-4">

		<img src={IconSvg.src} class="mt-20 size-32" />

		<h1 class="text-8xl font-light text-cyan-500 tracking-wide">
			PaynBits
		</h1>

		<h2 class="text-3xl font-medium text-cyan-700 tracking-tight uppercase">
			Bankless Life Concierge
		</h2>

		<h3 class="text-slate-500 italic tracking-widest">
			brought to you with ❤️ by 0xShomari
		</h3>

	</section>
</Layout>

<script>
console.log('PaynBits has been initialized!')
</script>
