---
import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

import Chat from '../components/Chat.vue'

import IconSvg from '../img/icon.svg'
---

<Layout>
	<main class="h-screen flex flex-col justify-between gap-0">
		<!-- Application Header -->
		<Header client:load />

		<section class="w-full lg:max-w-5xl mx-auto p-3 sm:p-8 flex-1 flex-col overflow-y-scroll overflow-x-hidden">

			<div class="flex flex-col gap-4 items-center justify-center">
				<img src={IconSvg.src} class="size-32" />

				<h1 class="text-7xl sm:text-8xl font-light text-cyan-500 tracking-wide">
					PaynBits
				</h1>

				<h2 class="text-2xl sm:text-3xl font-medium text-cyan-700 tracking-tighter uppercase">
					Discover Your Bankless Self
				</h2>
			</div>

			<div class="py-6" />

			<Chat />

		</section>

		<!-- Application Footer -->
		<Footer client:load />
	</main>
</Layout>

<script>
console.log('PaynBits is starting up...')

/* Import module.s */
import { sdk } from '@farcaster/miniapp-sdk'

/* Prepare UI for interactions. */
await sdk.actions.ready()

console.log('PaynBits has been initialized!')
</script>
