---
import Layout from '../layouts/Layout.astro'

import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'

import ProfileView from '../components/ProfileView.vue'
---

<Layout>
	<main class="h-screen flex flex-col justify-between gap-0">
		<!-- Application Header -->
		<Header client:load />

		<!-- Application Profile -->
		<ProfileView client:load />

		<!-- Application Footer -->
		<Footer client:load />
	</main>
</Layout>

<script>
console.log('PaynBits Profile is starting up...')

/* Import module.s */
import { sdk } from '@farcaster/miniapp-sdk'

/* Prepare UI for interactions. */
await sdk.actions.ready()

console.log('PaynBits Profile has been initialized!')
</script>
