---
/* Import styles. */
import '../styles/global.css'

/* Define Mini App parameters. */
const miniapp = {
    version: 'next',
    imageUrl: 'https://paynbits.app/poster.webp',
    button: {
        title: 'Discover Your Bankless Self',
        action: {
            type: 'launch_frame',
            url: 'https://paynbits.app',
            name:'PaynBits',
            splashImageUrl: 'https://paynbits.app/splash.png',
            splashBackgroundColor:'#3c859e'
        }
    }
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

        <title>PaynBits | Discover Your Bankless Self</title>

        <!-- Farcaster Mini App content -->
        <meta name="fc:miniapp" content={JSON.stringify(miniapp)} />
        <!-- Farcaster (Frame) backward compatibility -->
        <meta name="fc:frame" content={JSON.stringify(miniapp)} />

        <!-- Mapbox styles -->
        <link href='https://api.mapbox.com/mapbox-gl-js/v3.13.0/mapbox-gl.css' rel='stylesheet' />
	</head>
	<body class="bg-gradient-to-b from-slate-50 to-slate-200">
		<slot />
        <!-- 100% privacy-first analytics -->
        <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

        <!-- Mapbox scripts -->
        <script src='https://api.mapbox.com/mapbox-gl-js/v3.13.0/mapbox-gl.js'></script>
	</body>
</html>
